In [2]:
import numpy as np
import pandas as pd

import os
import glob

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
path = 'C:\\Users\\ljy25\\etri\\data\\user\\user01-06\\user01-06'
users = os.listdir('C:\\Users\\ljy25\\etri\\data\\user\\user01-06\\user01-06')
print("user_list : ", users)

user_list :  ['user01', 'user02', 'user03', 'user04', 'user05', 'user06']

In [26]:
os.listdir(os.path.join(path, users[0]))

['1598759880',
 '1598832660',
 '1599269580',
 '1599442080',
 '1599531660',
 '1599581100',
 '1599890820',
 '1599922800',
 '1600013400',
 '1600095660',
 '1600315920',
 '1600354800',
 '1600450920',
 '1600527600',
 '1600614000',
 '1600731000',
 '1600831800',
 '1600873320',
 '1601002200',
 '1601085900',
 '1601166300']

In [30]:
for user in users:
    for time in os.listdir(os.path.join(path, user)):
        file_pattern = os.path.join(path, user, time, "*_label.csv")
        print(file_pattern)

C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1598759880\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1598832660\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1599269580\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1599442080\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1599531660\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1599581100\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1599890820\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1599922800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1600013400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1600095660\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1600315920\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1600354800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1600450920\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1600527600\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1600614000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1600731000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1600831800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1600873320\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1601002200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1601085900\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user01\1601166300\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1598799600\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1598886000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1598972400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1599058800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1599146220\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1599893100\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1599922800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1600592340\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1600614000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1600700400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1600786800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1600961640\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1601046000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user02\1601132400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1598689200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1598715060\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1598818020\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1598886300\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1598986800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1599058980\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1599147360\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1599231660\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1599328800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1599422400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1599510360\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1599584400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1599885540\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1599928800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600020000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600106400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600192800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600286400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600371000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600448400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600533000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600635600\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600707600\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600792200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600876800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1600963200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1601054580\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user03\1601141400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1598828400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1598912400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599001800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599085500\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599174600\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599261300\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599347400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599430860\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599522960\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599603600\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599690000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599776160\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599859800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1599957060\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600035000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600122300\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600207800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600294800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600380900\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600470000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600558200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600640400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600726800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600816860\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600899900\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1600986000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1601079300\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user04\1601163000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1598828400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1598915580\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599004200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599090900\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599176940\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599263760\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599349500\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599431400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599518400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599605760\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599691500\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599778020\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599868080\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1599958380\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600036800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600122240\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600208820\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600295400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600381800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600477200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600562400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600639860\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600733640\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600815240\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600901700\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1600986660\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1601075640\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user05\1601158560\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1599757200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1599836400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1599922800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600009200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600095600\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600215480\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600304580\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600389540\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600441200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600529340\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600614000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600734060\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600814040\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600907880\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1600959600\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601046000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601179860\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601218800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601305200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601391600\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601478000\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601564400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601650800\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601737200\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601823600\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601912160\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1601996400\*_label.csv
C:\Users\ljy25\etri\data\user01-06\user01-06\user06\1602082800\*_label.csv

In [32]:
# 병합할 데이터프레임 리스트
df_list = []

for user in users:
    user_path = os.path.join(path, user)
    if os.path.exists(user_path):
        for time in os.listdir(user_path):
            time_path = os.path.join(user_path, time)
            if os.path.exists(time_path):
                # _label.csv로 끝나는 모든 파일을 찾습니다.
                file_pattern = os.path.join(time_path, "*_label.csv")
                csv_files = glob.glob(file_pattern)
                # 모든 CSV 파일을 읽어들여 데이터프레임 리스트에 추가합니다.
                for file in csv_files:
                    df_list.append(pd.read_csv(file))

# 모든 데이터프레임을 하나로 병합합니다.
combined_df = pd.concat(df_list, ignore_index=True)

# 결과를 확인합니다.
combined_df

,ts,action,actionOption,actionSub,actionSubOption,condition,conditionSub1Option,conditionSub2Option,place,emotionPositive,emotionTension,activity
0,1.598760e+09,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
1,1.598760e+09,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
2,1.598760e+09,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
3,1.598760e+09,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
4,1.598760e+09,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...
96603,1.602163e+09,meal,121,meal_amount,2.0,WITH_MANY,4.0,3.0,restaurant,5,2,3
96604,1.602163e+09,meal,121,meal_amount,2.0,WITH_MANY,4.0,3.0,restaurant,5,2,3
96605,1.602163e+09,meal,121,meal_amount,2.0,WITH_MANY,4.0,3.0,restaurant,5,2,3
96606,1.602163e+09,meal,121,meal_amount,2.0,WITH_MANY,4.0,3.0,restaurant,5,2,3
96607,1.602167e+09,travel,87,move_method,1.0,WITH_ONE,4.0,3.0,outdoor,3,2,3

# 전부 통합하자

In [22]:
path = 'C:\\Users\\ljy25\\etri\\data\\user'
user_folders = os.listdir(path)
print("user_list : ", user_folders)

users = []

for folder in user_folders:
    folder_path = os.path.join(path, folder)
    if os.path.isdir(folder_path):
        sub_users = os.listdir(folder_path)
        users.extend(sub_users)

print(users)

user_list :  ['user01-06', 'user07-10', 'user11-12', 'user21-25', 'user26-30']
['user01', 'user02', 'user03', 'user04', 'user05', 'user06', 'user07', 'user08', 'user09', 'user10', 'user11', 'user12', 'user21', 'user22', 'user23', 'user24', 'user25', 'user26', 'user27', 'user28', 'user29', 'user30']

In [27]:
# 기본 경로 설정
path = 'C:\\Users\\ljy25\\etri\\data\\user'

# 병합할 데이터프레임 리스트
df_list = []

# 최상위 폴더 내의 모든 하위 폴더를 순회
for root, dirs, files in os.walk(path):
    for file in files:
        if file.endswith('_label.csv'):
            file_path = os.path.join(root, file)
            df_list.append(pd.read_csv(file_path))

# 모든 데이터프레임을 하나로 병합
if df_list:  # 리스트가 비어 있지 않은 경우에만 병합
    all_user = pd.concat(df_list, ignore_index=True)

In [26]:
# # 병합된 데이터프레임을 CSV 파일로 저장
# output_path = os.path.join(path, 'combined_labels.csv')
# all_user.to_csv(output_path, index=False)

In [28]:
all_user

,ts,action,actionOption,actionSub,actionSubOption,condition,conditionSub1Option,conditionSub2Option,place,emotionPositive,emotionTension,activity
0,1.598760e+09,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
1,1.598760e+09,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
2,1.598760e+09,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
3,1.598760e+09,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
4,1.598760e+09,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...
440825,1.601214e+09,recreation_media,725,NaN,NaN,ALONE,NaN,NaN,home,7,2,3
440826,1.601214e+09,recreation_media,725,NaN,NaN,ALONE,NaN,NaN,home,7,2,3
440827,1.601214e+09,recreation_media,725,NaN,NaN,ALONE,NaN,NaN,home,7,2,3
440828,1.601214e+09,recreation_media,725,NaN,NaN,ALONE,NaN,NaN,home,7,2,3
440829,1.601215e+09,recreation_media,725,NaN,NaN,ALONE,NaN,NaN,home,7,2,3

In [29]:
all_user['ts'] = pd.to_datetime(all_user['ts'], unit='s').dt.tz_localize('UTC').dt.tz_convert('Asia/Seoul') 
all_user

,ts,action,actionOption,actionSub,actionSubOption,condition,conditionSub1Option,conditionSub2Option,place,emotionPositive,emotionTension,activity
0,2020-08-30 12:58:00+09:00,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
1,2020-08-30 12:59:00+09:00,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
2,2020-08-30 13:00:00+09:00,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
3,2020-08-30 13:01:00+09:00,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
4,2020-08-30 13:02:00+09:00,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...
440825,2020-09-27 22:45:00+09:00,recreation_media,725,NaN,NaN,ALONE,NaN,NaN,home,7,2,3
440826,2020-09-27 22:46:00+09:00,recreation_media,725,NaN,NaN,ALONE,NaN,NaN,home,7,2,3
440827,2020-09-27 22:47:00+09:00,recreation_media,725,NaN,NaN,ALONE,NaN,NaN,home,7,2,3
440828,2020-09-27 22:48:00+09:00,recreation_media,725,NaN,NaN,ALONE,NaN,NaN,home,7,2,3
440829,2020-09-27 22:49:00+09:00,recreation_media,725,NaN,NaN,ALONE,NaN,NaN,home,7,2,3

In [35]:
all_user['emotionTension'].value_counts()

emotionTension
2    94008
3    78315
4    68307
5    67295
1    63939
6    47257
7    21709
Name: count, dtype: int64

In [36]:
all_user['emotionPositive'].value_counts()

emotionPositive
5    123597
4     91892
6     87935
7     72115
3     50108
2     11820
1      3363
Name: count, dtype: int64