In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
user_survey_2020 = pd.read_csv("C:\\Users\\ljy25\\etri\\data\\user_survey_2020.csv")
user_survey_2020

,userId,date,amPm,startInput,endInput,sleep,sleepProblem,dream,amCondition,amEmotion,pmEmotion,pmStress,pmFatigue,caffeine,cAmount(ml),alcohol,aAmount(ml)
0,user24,2020-08-29,am,2020-08-29 21:23,2020-08-29 21:23,4.0,0.0,3.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,user24,2020-08-29,pm,2020-08-29 21:23,2020-08-29 21:23,NaN,NaN,NaN,NaN,NaN,4.0,4.0,2.0,NaN,NaN,NaN,NaN
2,user24,2020-08-30,am,2020-08-30 7:41,2020-08-30 7:41,3.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,user24,2020-08-30,pm,2020-08-30 22:43,2020-08-30 22:43,NaN,NaN,NaN,NaN,NaN,4.0,5.0,2.0,coffee,200.0,NaN,NaN
4,user24,2020-08-31,am,2020-08-31 7:23,2020-08-31 7:24,3.0,2.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225,user06,2020-10-06,pm,2020-10-07 0:07,2020-10-07 0:08,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,NaN,NaN,NaN,NaN
1226,user06,2020-10-07,am,2020-10-07 8:02,2020-10-07 8:05,2.0,9.0,4.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1227,user06,2020-10-07,pm,2020-10-08 1:57,2020-10-08 1:57,NaN,NaN,NaN,NaN,NaN,5.0,2.0,3.0,coffee,250.0,NaN,NaN
1228,user06,2020-10-08,am,2020-10-08 8:23,2020-10-08 8:24,3.0,0.0,4.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1229,user06,2020-10-08,pm,2020-10-08 23:30,2020-10-08 23:31,NaN,NaN,NaN,NaN,NaN,3.0,2.0,2.0,coffee,300.0,NaN,NaN

In [3]:
user_survey_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        1230 non-null   object
 1   date          1230 non-null   object
 2   amPm          1230 non-null   object
 3   startInput    1230 non-null   object
 4   endInput      1230 non-null   object
 5   sleep         615 non-null    float64
 6   sleepProblem  615 non-null    float64
 7   dream         615 non-null    float64
 8   amCondition   615 non-null    float64
 9   amEmotion     615 non-null    float64
 10  pmEmotion     615 non-null    float64
 11  pmStress      615 non-null    float64
 12  pmFatigue     615 non-null    float64
 13  caffeine      282 non-null    object
 14  cAmount(ml)   282 non-null    float64
 15  alcohol       114 non-null    object
 16  aAmount(ml)   113 non-null    float64
dtypes: float64(10), object(7)
memory usage: 163.5+ KB

In [4]:
user_survey_2020.isna().stack().value_counts()

False    11861
True      9049
Name: count, dtype: int64

In [5]:
user_survey_2020.isna().sum()

userId             0
date               0
amPm               0
startInput         0
endInput           0
sleep            615
sleepProblem     615
dream            615
amCondition      615
amEmotion        615
pmEmotion        615
pmStress         615
pmFatigue        615
caffeine         948
cAmount(ml)      948
alcohol         1116
aAmount(ml)     1117
dtype: int64

In [6]:
# caffeine
unique_values = user_survey_2020['cAmount(ml)'].dropna().unique()

# Convert to integers and sort
sorted_values = sorted(int(value) for value in unique_values)

# Display the sorted unique values
print(sorted_values)

[50, 100, 150, 180, 200, 250, 260, 280, 300, 330, 350, 355, 360, 400, 450, 473, 480, 500, 560, 600, 680, 700, 750, 900, 1000, 1500]

In [7]:
# alcohol
unique_values = user_survey_2020['aAmount(ml)'].dropna().unique()

# Convert to integers and sort
sorted_values = sorted(int(value) for value in unique_values)

# Display the sorted unique values
print(sorted_values)

[80, 150, 200, 250, 300, 330, 350, 355, 400, 450, 500, 600, 680, 700, 720, 750, 800, 900, 1000, 1500, 2000, 3000, 3500, 4000, 5000, 7000, 20000]

In [8]:
print("sleep : ", user_survey_2020.sleep.unique())
print("sleepProblem: ", user_survey_2020.sleepProblem.unique())
print("dream : ", user_survey_2020.dream.unique())
print("amCondition : ", user_survey_2020.amCondition.unique())
print("amEmotion : ", user_survey_2020.amEmotion.unique())
print("pmEmotion : ", user_survey_2020.pmEmotion.unique())
print("pmStress : ", user_survey_2020.pmStress.unique())
print("pmFatigue  : ", user_survey_2020.pmFatigue .unique())
print("caffeine  : ", user_survey_2020.caffeine .unique())
print("cAmount(ml)  : ", user_survey_2020['cAmount(ml)'].unique())
print("alcohol : ", user_survey_2020.alcohol.unique())
print("aAmount(ml)  : ", user_survey_2020['aAmount(ml)'].unique())

sleep :  [ 4. nan  3.  2.  1.  5.]
sleepProblem:  [ 0. nan  2.  1.  5.  3.  8.  7.  9.  4.  6.]
dream :  [ 3. nan  2.  4.  1.]
amCondition :  [ 3. nan  2.  4.  1.  5.]
amEmotion :  [ 4. nan  3.  5.  2.  1.]
pmEmotion :  [nan  4.  5.  3.  2.  1.]
pmStress :  [nan  4.  5.  2.  1.  3.]
pmFatigue  :  [nan  2.  4.  3.  1.  5.]
caffeine  :  [nan 'coffee' 'tea' 'caffeinated drink' 'coke']
cAmount(ml)  :  [  nan  200.  150.  100.  250.  300. 1000.  500. 1500.  750.  400.  180.
  480.  280.  560.  260.  680.  600.  355.   50.  900.  350.  330.  700.
  360.  450.  473.]
alcohol :  [nan 'not specified' 'soju' 'beer' 'wine' 'soju&beer' 'wine&beer'
 'kaoliang' 'cognac' 'beer&rice wine' 'rice wine']
aAmount(ml)  :  [   nan   300.   500.  1000.   200.   350.   400.   700.   250.   800.
  1500.   900.   720.   680.   600.   355.  3000. 20000.   450.   750.
  2000.   150.    80.   330.  4000.  3500.  5000.  7000.]

In [13]:
print(user_survey_2020['sleep'].value_counts().sum())
print(user_survey_2020['sleep'].isna().sum())

615
615

In [16]:
print(user_survey_2020['cAmount(ml)'].value_counts().sum())
print(user_survey_2020['cAmount(ml)'].isna().sum())

282
948

In [21]:
print(user_survey_2020['caffeine'].value_counts().sum())
print(user_survey_2020['caffeine'].value_counts())
print(user_survey_2020['caffeine'].isna().sum())

282
caffeine
coffee               256
caffeinated drink     18
tea                    4
coke                   4
Name: count, dtype: int64
948

In [22]:
print(user_survey_2020['alcohol'].value_counts().sum())
print(user_survey_2020['alcohol'].value_counts())
print(user_survey_2020['alcohol'].isna().sum())

114
alcohol
beer              45
soju              31
not specified     21
wine               6
soju&beer          5
kaoliang           2
wine&beer          1
cognac             1
beer&rice wine     1
rice wine          1
Name: count, dtype: int64
1116

In [29]:
print(user_survey_2020['aAmount(ml)'].value_counts().sum())
print(user_survey_2020['aAmount(ml)'].isna().sum())
print(user_survey_2020['aAmount(ml)'].value_counts().sort_index())

113
1117
aAmount(ml)
80.0        1
150.0       1
200.0       9
250.0       1
300.0      16
330.0       2
350.0       3
355.0       2
400.0       2
450.0       1
500.0      18
600.0       3
680.0       1
700.0       1
720.0       1
750.0       1
800.0       6
900.0       2
1000.0     20
1500.0      7
2000.0      4
3000.0      4
3500.0      2
4000.0      2
5000.0      1
7000.0      1
20000.0     1
Name: count, dtype: int64

In [20]:
print(user_survey_2020['pmFatigue'].value_counts().sum())
print(user_survey_2020['pmFatigue'].isna().sum())

615
615