In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
user_info_2020 = pd.read_csv("C:\\Users\\ljy25\\etri\\data\\user_info_2020.csv")
user_info_2020

    userId gender  age handed  height  weight     startDt       endDt
0   user24      F   26  Right     165      67  2020-08-29  2020-09-27
1   user23      M   35  Right     177      84  2020-08-31  2020-09-27
2   user05      M   31  Right     177      75  2020-08-31  2020-09-27
3   user04      M   28  Right     171      70  2020-08-31  2020-09-27
4   user12      F   30  Right     160      54  2020-08-30  2020-09-27
5   user08      M   32  Right     180      84  2020-08-31  2020-09-25
6   user02      F   25   Left     168      81  2020-08-31  2020-09-27
7   user10      M   25  Right     184      77  2020-08-30  2020-09-27
8   user03      F   32  Right     166      62  2020-08-29  2020-09-27
9   user11      M   32  Right     175      78  2020-08-30  2020-09-27
10  user28      M   31  Right     169      79  2020-08-31  2020-09-26
11  user21      F   26  Right     166      57  2020-08-29  2020-09-27
12  user26      F   27  Right     160      47  2020-08-31  2020-09-26
13  user01      M   27   Left     167      76  2020-08-30  2020-09-27
14  user22      F   30  Right     163      68  2020-09-01  2020-09-27
15  user29      M   29  Right     169      63  2020-08-30  2020-09-27
16  user25      M   27  Right     182      72  2020-08-31  2020-09-27
17  user09      M   20  Right     170      80  2020-08-31  2020-09-27
18  user30      M   26  Right     174      58  2020-08-31  2020-09-27
19  user07      M   30  Right     173      83  2020-08-31  2020-09-27
20  user27      F   28  Right     170      60  2020-09-04  2020-10-02
21  user06      F   22  Right     164      70  2020-09-11  2020-10-08

In [5]:
user_info_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   22 non-null     object
 1   gender   22 non-null     object
 2   age      22 non-null     int64
 3   handed   22 non-null     object
 4   height   22 non-null     int64
 5   weight   22 non-null     int64
 6   startDt  22 non-null     object
 7   endDt    22 non-null     object
dtypes: int64(3), object(5)
memory usage: 1.5+ KB

In [6]:
user_info_2020.isna().stack().value_counts()

False    176
Name: count, dtype: int64

In [9]:
user_info_2020.isna().sum()

userId     0
gender     0
age        0
handed     0
height     0
weight     0
startDt    0
endDt      0
dtype: int64

In [12]:
user_info_2020.userId.unique()

array(['user24', 'user23', 'user05', 'user04', 'user12', 'user08',
       'user02', 'user10', 'user03', 'user11', 'user28', 'user21',
       'user26', 'user01', 'user22', 'user29', 'user25', 'user09',
       'user30', 'user07', 'user27', 'user06'], dtype=object)