# m_acitivity

In [1]:
import pandas as pd

# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test_m_activity.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')

# 데이터프레임의 내용을 출력합니다.
print(df.head())

   subject_id               timestamp m_activity
0           5 2023-11-05 00:00:39.044          3
1           5 2023-11-05 00:01:39.044          3
2           5 2023-11-05 00:02:39.044          3
3           5 2023-11-05 00:03:39.043          3
4           5 2023-11-05 00:04:39.044          3

# m_acc_part

In [2]:
import pandas as pd

# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test__m_acc_part_5.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')

# 데이터프레임의 내용을 출력합니다.
print(df.head())

   subject_id               timestamp         x         y         z
0           5 2023-11-05 00:00:00.022 -0.088585  0.105345  9.749489
1           5 2023-11-05 00:00:00.039 -0.067038  0.112527  9.742306
2           5 2023-11-05 00:00:00.136 -0.071826  0.100556  9.742306
3           5 2023-11-05 00:00:00.202 -0.059855  0.081403  9.672874
4           5 2023-11-05 00:00:00.218 -0.083797  0.110133  9.720758

# m_light

In [3]:
# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test_m_light.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')

# 데이터프레임의 내용을 출력합니다.
print(df.head())

   subject_id           timestamp  m_light
0           5 2023-11-05 00:09:00    208.0
1           5 2023-11-05 00:19:00    212.0
2           5 2023-11-05 00:29:00    211.0
3           5 2023-11-05 00:39:00    194.0
4           5 2023-11-05 00:49:00    214.0

In [4]:
df

       subject_id           timestamp  m_light
0               5 2023-11-05 00:09:00    208.0
1               5 2023-11-05 00:19:00    212.0
2               5 2023-11-05 00:29:00    211.0
3               5 2023-11-05 00:39:00    194.0
4               5 2023-11-05 00:49:00    214.0
...           ...                 ...      ...
16274           8 2023-11-09 23:22:00      0.0
16275           8 2023-11-09 23:29:00     18.0
16276           8 2023-11-09 23:39:00    107.0
16277           8 2023-11-09 23:49:00    107.0
16278           8 2023-11-09 23:59:00    108.0

[16279 rows x 3 columns]

# m_ambience

In [5]:
# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test_m_ambience.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')
df

,subject_id,timestamp,ambience_labels
0,5,2023-11-05 00:00:10,"[[Speech, 0.8403382], [Music, 0.030468106], [I..."
1,5,2023-11-05 00:02:10,"[[Speech, 0.40128958], [Music, 0.10245611], [S..."
2,5,2023-11-05 00:04:10,"[[Speech, 0.20881131], [Music, 0.16498142], [I..."
3,5,2023-11-05 00:06:10,"[[Speech, 0.8520652], [Music, 0.025699988], [C..."
4,5,2023-11-05 00:08:10,"[[Music, 0.5902457], [Singing, 0.016197704], [..."
...,...,...,...
82006,8,2023-11-09 23:50:10,"[[Silence, 0.17513889], [Inside, small room, 0..."
82007,8,2023-11-09 23:52:10,"[[Typing, 0.258084], [Inside, small room, 0.21..."
82008,8,2023-11-09 23:54:10,"[[Typing, 0.98765486], [Computer keyboard, 0.9..."
82009,8,2023-11-09 23:56:10,"[[Typing, 0.97371936], [Computer keyboard, 0.8..."
82010,8,2023-11-09 23:58:10,"[[Typing, 0.46111366], [Computer keyboard, 0.4..."

# m_gps

In [6]:
# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test_m_gps.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')
df

,subject_id,timestamp,altitude,latitude,longitude,speed
0,5,2023-11-05 02:25:01,95.734328,0.038370,0.028696,0.126473
1,5,2023-11-05 02:25:06,95.734328,0.038373,0.028697,0.032710
2,5,2023-11-05 02:25:09,95.734328,0.038373,0.028704,0.237968
3,5,2023-11-05 02:25:12,95.734328,0.038367,0.028711,0.146265
4,5,2023-11-05 02:25:15,95.734328,0.038362,0.028713,0.051259
...,...,...,...,...,...,...
746712,8,2023-11-09 23:33:41,138.599991,1.594249,0.929489,0.051794
746713,8,2023-11-09 23:33:46,138.500000,1.594255,0.929493,0.144418
746714,8,2023-11-09 23:33:51,138.500000,1.594263,0.929493,0.161056
746715,8,2023-11-09 23:33:57,138.500000,1.594303,0.929534,1.045928
746716,8,2023-11-09 23:34:07,138.500000,1.594245,0.929493,0.136373

# m_usage

In [7]:
# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test_m_usage_stats.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')
df

,subject_id,timestamp,m_usage_stats
0,5,2023-11-05 00:00:00.011,[]
1,5,2023-11-05 00:10:00.023,"[{'app_name': '통화', 'total_time': 29026}]"
2,5,2023-11-05 00:20:00.034,"[{'app_name': '통화', 'total_time': 29026}]"
3,5,2023-11-05 00:30:00.018,"[{'app_name': '통화', 'total_time': 29026}]"
4,5,2023-11-05 00:40:00.010,[]
...,...,...,...
16407,8,2023-11-09 23:10:00.046,"[{'app_name': '캘린더', 'total_time': 6720}]"
16408,8,2023-11-09 23:20:00.050,"[{'app_name': '캘린더', 'total_time': 6720}]"
16409,8,2023-11-09 23:30:00.125,"[{'app_name': '네이버 웹툰', 'total_time': 5480}, {..."
16410,8,2023-11-09 23:40:00.140,"[{'app_name': '네이버 웹툰', 'total_time': 5920}, {..."
16411,8,2023-11-09 23:50:00.079,"[{'app_name': '네이버 웹툰', 'total_time': 5920}, {..."

# w_heart_rate

In [8]:
# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test_w_heart_rate.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')
df

        subject_id               timestamp  heart_rate
0                5 2023-11-05 00:00:38.081          90
1                5 2023-11-05 00:01:38.248          65
2                5 2023-11-05 00:02:38.340          86
3                5 2023-11-05 00:03:38.450          89
4                5 2023-11-05 00:07:20.468          80
...            ...                     ...         ...
132777           8 2023-11-09 23:55:00.517          76
132778           8 2023-11-09 23:56:00.524          85
132779           8 2023-11-09 23:57:01.521          81
132780           8 2023-11-09 23:58:02.520          78
132781           8 2023-11-09 23:59:03.517          84

[132782 rows x 3 columns]

# w_light

In [9]:
# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test_w_light.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')
df

       subject_id               timestamp  w_light
0               5 2023-11-05 00:07:19.493     86.0
1               5 2023-11-05 00:17:19.634      5.0
2               5 2023-11-05 00:35:57.330     80.0
3               5 2023-11-05 00:45:57.491     74.0
4               5 2023-11-05 00:55:57.519     17.0
...           ...                     ...      ...
14598           8 2023-11-09 23:18:30.710      0.0
14599           8 2023-11-09 23:28:30.817      5.0
14600           8 2023-11-09 23:38:31.007      5.0
14601           8 2023-11-09 23:48:31.107     17.0
14602           8 2023-11-09 23:58:31.141     17.0

[14603 rows x 3 columns]

# w_pedo

In [10]:
# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test_w_pedo.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')
df

,subject_id,timestamp,burned_calories,distance,running_steps,speed,steps,step_frequency,walking_steps
0,5,2023-11-05 00:00:00,0.0,7.73,0,0.128833,10,0.166667,0
1,5,2023-11-05 00:01:00,0.0,0.00,0,0.000000,0,0.000000,0
2,5,2023-11-05 00:02:00,0.0,0.00,0,0.000000,0,0.000000,0
3,5,2023-11-05 00:03:00,0.0,0.00,0,0.000000,0,0.000000,0
4,5,2023-11-05 00:04:00,0.0,0.00,0,0.000000,0,0.000000,0
...,...,...,...,...,...,...,...,...,...
119806,8,2023-11-09 23:55:00,0.0,0.00,0,0.000000,0,0.000000,0
119807,8,2023-11-09 23:56:00,0.0,0.00,0,0.000000,0,0.000000,0
119808,8,2023-11-09 23:57:00,0.0,0.00,0,0.000000,0,0.000000,0
119809,8,2023-11-09 23:58:00,0.0,0.00,0,0.000000,0,0.000000,0
119810,8,2023-11-09 23:59:00,0.0,0.00,0,0.000000,0,0.000000,0