In [1]:
import pandas as pd

# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test_m_activity.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')

# 데이터프레임의 내용을 출력합니다.
print(df.head())

   subject_id               timestamp m_activity
0           5 2023-11-05 00:00:39.044          3
1           5 2023-11-05 00:01:39.044          3
2           5 2023-11-05 00:02:39.044          3
3           5 2023-11-05 00:03:39.043          3
4           5 2023-11-05 00:04:39.044          3

In [2]:
import pandas as pd

# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test__m_acc_part_5.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')

# 데이터프레임의 내용을 출력합니다.
print(df.head())

   subject_id               timestamp         x         y         z
0           5 2023-11-05 00:00:00.022 -0.088585  0.105345  9.749489
1           5 2023-11-05 00:00:00.039 -0.067038  0.112527  9.742306
2           5 2023-11-05 00:00:00.136 -0.071826  0.100556  9.742306
3           5 2023-11-05 00:00:00.202 -0.059855  0.081403  9.672874
4           5 2023-11-05 00:00:00.218 -0.083797  0.110133  9.720758

In [3]:
# 파일 경로를 지정합니다.
file_path = 'C:\\Users\\ljy25\\etri\\data\\휴먼이해2024\\test dataset\\ch2024_test_m_light.parquet.gzip'

# .parquet.gzip 파일을 읽습니다.
df = pd.read_parquet(file_path, engine='pyarrow')

# 데이터프레임의 내용을 출력합니다.
print(df.head())

   subject_id           timestamp  m_light
0           5 2023-11-05 00:09:00    208.0
1           5 2023-11-05 00:19:00    212.0
2           5 2023-11-05 00:29:00    211.0
3           5 2023-11-05 00:39:00    194.0
4           5 2023-11-05 00:49:00    214.0

In [4]:
df

       subject_id           timestamp  m_light
0               5 2023-11-05 00:09:00    208.0
1               5 2023-11-05 00:19:00    212.0
2               5 2023-11-05 00:29:00    211.0
3               5 2023-11-05 00:39:00    194.0
4               5 2023-11-05 00:49:00    214.0
...           ...                 ...      ...
16274           8 2023-11-09 23:22:00      0.0
16275           8 2023-11-09 23:29:00     18.0
16276           8 2023-11-09 23:39:00    107.0
16277           8 2023-11-09 23:49:00    107.0
16278           8 2023-11-09 23:59:00    108.0

[16279 rows x 3 columns]